body{
    background-color: #e1e4e4;
}
h6, h5, h4, h3, p {
    margin: 4px;
}
.main_c {
    height: 250px;
    width: 330px;
    margin-top: 150px;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 1px 4px 16px 1px rgba(0,0,0,0.52)
}
.top_c{
    height: 112.5px;
    background-color: white;
    width: 100%;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}
.lower_c{
    display: flex;
    color: white;
}
.right_c{
    flex: 50%;
    height: 137.5px;
    width: 165px;
    background-color: #229BA4;
    padding: 10px;
}
.left_c{
    flex: 50%;
    width: 165px;
    height: 137.5px;
    background-color: #1D8D96;
}
h4{
    margin-left: 5px;
    margin-top: 0;
}
.bodytext{
    font-size: 10px;
}
.my_lists, .full{
    font-size: 9px;
    margin-left: 10;
}
.money{
    display: flex;
}
#sub, #mon, #acce, button{
    margin: 10px;
    margin-left: 15px;
}
#per{
    position: relative;
    top: 4px;
    margin-left: 8px;
    font-size: 8px;
    opacity: 0.8;
}
#why{
    margin-top: 10px;
    margin-bottom: 5px;
}
.heade, .sub, .bodytext{
    padding: 5px;
    margin-left: 10px;
}
.heade{
    color: #1D8D96;
}
.sub{
    color: #c0df34;
    margin-bottom: -5px;
}
.bodytext{
    color: lightslategray;
    margin-top: 0;
}
button{
    background-color: #c0df34;
    color: white;
    border: 0;
    width: 75%;
    font-size: 5px;
    padding: 7px;
    border-radius: 2px;
    margin-top: 3%;
}
.my_lists{
    opacity: 0.8;
    padding: 0;
    list-style: none;
    margin-left: 5px;
}
button:hover{
    cursor: pointer;
    background-color: #a9c42d;
    transform: scale(1.1);
}
